body {
  background-color: #e4e4e4;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.App {
  box-shadow: 0 0 20px 8px #b4b4b4;
  background-color: #89c9b8;
  margin: 100px;
  padding: 6% 2%;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}


img {
  margin: 5% 0 0 10%;
  width: 80%;
  border-radius: 10%;
}

form {
  text-align: left;
}

input {
  background-color: transparent;
  border: transparent;
  border-bottom: dashed #fff;
}

label {
  color:#0f4c75;
  font-size: 1.5em;
  padding: 1.5% 0% 0% 0%;
}

.input-field {
  padding: 12px 2px;
}
