body {
  font-family: 'Montserrat';
  text-align: center;
}

h1 {
  font-family: 'Lobster';
  color: #0f4c75;
  font-size: 3 rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat-bold';
  font-size: 3rem;
  line-height: 1.5;
}

.spacing {
  padding: 7% 15%;
}

.coloured-section {
  background-color:#0f4c75;
}

.uncoloured-section {
  background-color: #fff;
}

/* title */
#title .row {
  text-align: left;
}

@media (max-width: 1028px) {
  #title .row {
    text-align: center;
  }
}

/* navigation bar */
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}
.navbrand, .nav-link{
  color: #fff;
}
.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: 'Montserrat'
}

/* download-buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* features */
.Hfeatures {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
}

.Pfeatures {
  color: #8f8f8f;
}

.fe-img {
  color: #0f4c75;
}

.fe-img:hover {
  color: #ee6d66;
}




/* Pricing section */
.price-column {
  padding: 3% 2%;
}

/* Call to action */
.cta-heading {
  font-family: 'Montserrat-bold';
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.call {
  color: #fff;
}

/* footer */
.fo-img {
  padding: 1%;
}
